<header>
  <i id="open_nav" class="fas fa-align-justify"></i>
  <span>Your Story</span>
  <!-- for muted sound icon use "fas fa-volume-mute"></i> -->
  <i class="fas fa-volume-up"></i>
</header>
<nav>
  <span id="close_nav">X</span>
  <div class="nav-top">
    <p><b>Logged in as: Username</b></p>
    <br>
    <button class="create_story"><b>Create a Story</b></button>
  </div>
  <div class="nav-bottom">
    <a href=""><p>Home Page</p></a>
    <a href=""><p>Featured Stories</p></a>
    <a href=""><p>Profile</p></a>
    <a href=""><p>My Stories</p></a>
    <a href=""><p>My Contributions</p></a>
  </div>
</nav>
