<header>
  <i id="open_nav" class="fas fa-align-justify"></i>
  <span>Your Story</span>
  <div class="volume_control">
    <i class="fas fa-volume-mute hidden"></i>
    <i class="fas fa-volume-up hidden"></i>
  </div>
</header>
<nav>
  <span id="close_nav">X</span>
  <div class="nav-top">
    <% if (user) { %>
      <p><b>Logged in as: <%= user.name %></b></p>
    <% } else { %>
      <p><b>Not Logged In</b></p>
    <% } %>
    <br>
    <form action="/stories/create" method="GET">
      <button class="create_story">Create a Story</button>
    </form>
  </div>
  <div class="nav-bottom">
    <a href="/"><p>Home Page</p></a>
    <a href="/#featured_stories_section"><p>Featured Stories</p></a>
    <a href=""><p>Profile</p></a>
    <% if (user) { %>
    <a href="/users/<%= user.user_id %>/stories"><p>My Stories</p></a>
    <% } else { %>
    <a href=""><p>My Stories</p></a>
    <% } %>
    <a href=""><p>My Contributions</p></a>
  </div>
</nav>
