<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific -->
  <title>Contribute</title>
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <form class="create_entry" method="POST" action="">
      <h1><%=storyTitle%></h1>
      <h3 class="subtitle">Continue the story...</h3>
      <div class="form_grid">
        <label for="entry">How does this story continue?</label>
        <textarea id="entry" name="entry" required></textarea>
      </div>
      <h3>Animation Effects</h3>
      <!-- Animation IDs: 1 - rain, 2 - snow, 3 - fog -->
      <div class="button_row">
        <input type="radio" id="no_anim" name="animation" checked="checked" value="">
        <label class="radio" for="no_anim">None</label>
        <input type="radio" id="rain_anim" name="animation" value="1">
        <label class="radio" for="rain_anim">Rain</label>
        <input type="radio" id="snow_anim" name="animation" value="2">
        <label class="radio" for="snow_anim">Snow</label>
        <input type="radio" id="fog_anim" name="animation" value="3">
        <label class="radio" for="fog_anim">Fog</label>
      </div>
      <h3>Sound Effects</h3>
      <!-- Sound IDs: 1 - nature, 2 - storm, 3 - ocean -->
      <div class="button_row">
        <input type="radio" id="no_sound" name="sound" checked="checked" value="">
        <label class="radio" for="no_sound">None</label>
        <input type="radio" id="nature_sound" name="sound" value="1">
        <label class="radio" for="nature_sound">Nature</label>
        <input type="radio" id="storm_sound" name="sound" value="2">
        <label class="radio" for="storm_sound">Storm</label>
        <input type="radio" id="ocean_sound" name="sound" value="3">
        <label class="radio" for="ocean_sound">Ocean</label>
      </div>
      <h3>Suggested Photos</h3>
      <section class="suggested_photos">
        <!-- replace values with suggested photo id from database -->
        <input class="photo" type="radio" id="photo_1" name="photo" value="2">
        <label class="photo" for="photo_1"><img src="http://placeimg.com/400/300/arch"></label>
        <input class="photo" type="radio" id="photo_2" name="photo" value="3">
        <label class="photo" for="photo_2"><img src="http://placeimg.com/400/300/nature"></label>
        <input class="photo" type="radio" id="photo_3" name="photo" value="4">
        <label class="photo" for="photo_3"><img src="http://placeimg.com/400/300/tech"></label>
        <input class="photo" type="radio" id="photo_4" name="photo" value="5">
        <label class="photo" for="photo_4"><img src="http://placeimg.com/400/300/any"></label>
      </section>
      <br><br>
      <div class="button_spaced">
        <button id="preview">Preview</button>
        <button type="submit" id="save"><b>Save your Story</b></button>
      </div>
    </form>
    <br><br>
  </main>
</body>
</html>
