<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific -->
  <title>Create a Story</title>
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />
  <script src="/scripts/photo_suggester.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <form class="create_entry" method="POST" action="/stories/create_story">
      <h1>Story Creation</h1>
      <div class="form_grid">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Description</label>
        <textarea id="description" name="description" required></textarea>
        <label for="entry">Begin your story...</label>
        <textarea id="entry" name="entry" required></textarea>
      </div>
      <h3>Animation Effects</h3>
      <!-- Animation IDs: 1 - rain, 2 - snow, 3 - fog -->
      <div class="button_row">
        <input type="radio" id="no_anim" name="animation" checked="checked" value="">
        <label class="radio" for="no_anim">None</label>
        <input type="radio" id="rain_anim" name="animation" value="1">
        <label class="radio" for="rain_anim">Rain</label>
        <input type="radio" id="snow_anim" name="animation" value="2">
        <label class="radio" for="snow_anim">Snow</label>
        <input type="radio" id="fog_anim" name="animation" value="3">
        <label class="radio" for="fog_anim">Fog</label>
      </div>
      <h3>Sound Effects</h3>
      <!-- Sound IDs: 1 - nature, 2 - storm, 3 - ocean -->
      <div class="button_row">
        <input type="radio" id="no_sound" name="sound" checked="checked" value="">
        <label class="radio" for="no_sound">None</label>
        <input type="radio" id="nature_sound" name="sound" value="1">
        <label class="radio" for="nature_sound">Nature</label>
        <input type="radio" id="storm_sound" name="sound" value="2">
        <label class="radio" for="storm_sound">Storm</label>
        <input type="radio" id="ocean_sound" name="sound" value="3">
        <label class="radio" for="ocean_sound">Ocean</label>
      </div>
      <h3>Cover Photo</h3>
      <button id="refresh_photos"><b>Refresh Photos</b></button>
      <div id="sentiment">
        <!-- sentiment -->
      </div>
      <section class="suggested_photos">
        <!-- photos inserted here -->
      </section>
      <br><br>
      <div class="button_spaced">
        <button id="preview">Preview</button>
        <button type="submit" id="save"><b>Save your Story</b></button>
      </div>
    </form>
    <br><br>
  </main>
</body>
</html>
