<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head')  %>
  <!-- Page-specific -->
  <title>My Stories</title>
  <link rel="stylesheet" href="/styles/my_stories.css" type="text/css" />
</head>
<body>
  <%- include('partials/_header')  %>
  <main>
    <h1>My Stories</h1>
    <table class="stories">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Author(s)</th>
      </tr>
      <tr>
        <td class="title">
          My Story Title
          <br>
          <button>View</button>
          <button>Edit</button>
        </td>
        <td>This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. </td>
        <td>Complete</td>
        <td>Author One, Author Two, Author Three, Author Four, Author Five</td>
      </tr>
      <tr>
        <td class="title">
          My Story Title This is a Longer Title.
          <br>
          <button>View</button>
          <button>Edit</button>
        </td>
        <td>This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. </td>
        <td>Complete</td>
        <td>Author One, Author Two, Author Three, Author Four, Author Five</td>
      </tr>
      <tr>
        <td class="title">
          My Story Title
          <br>
          <button>View</button>
          <button>Edit</button>
        </td>
        <td>This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. </td>
        <td>Complete</td>
        <td>Author One, Author Two, Author Three, Author Four, Author Five</td>
      </tr>
      <tr>
        <td class="title">
          My Story Title
          <br>
          <button>View</button>
          <button>Edit</button>
        </td>
        <td>This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. </td>
        <td>Complete</td>
        <td>Author One, Author Two, Author Three, Author Four, Author Five</td>
      </tr>
      <tr>
        <td class="title">
          My Story Title This is a Longer Title, This is a very long title.
          <br>
          <button>View</button>
          <button>Edit</button>
        </td>
        <td>This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. This is my story description. </td>
        <td>Complete</td>
        <td>Author One, Author Two, Author Three, Author Four, Author Five</td>
      </tr>
    </table>
    <br><br>
  </main>
</body>
</html>
