main {
  align-items: flex-start;
}

.description {
  margin-top: 0;
  padding-top: 0;
}

form.update_description {
  display: flex;
  align-items: center;

  button {
    margin-left: 2em;
  }
}

table.contributions {

  background: lightgrey;
  padding: 1em;

  th {
    text-align: left;
    min-width: 10%;
  }

  th.upvotes {
    text-align: center;
  }

  td {
    padding-top: 1em;
    padding-right: 0.5em;

    button {
      margin-top: 5px;
    }
  }

  td.upvotes {
    text-align: center;
  }
}

div.complete_story {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin-left: 2em;
  }
}
