header {
  background-color: lightgray;
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 0.75em 0.25em 0.75em;
  align-items: center;
  margin-bottom: 1em;

  span {
    font-size: 1.5em;
  }
}
