header {
  background-color: #778DA9;
  color: #0D1B2A;
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 0.75em 0.25em 0.75em;
  align-items: center;
  margin-bottom: 1em;
  height: 55px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 10px 0px #415A77;
  z-index: 2;

  i {
    cursor: pointer;
  }

  span {
    font-size: 1.6em;
  }
}
