header {
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px;
  span {
    display: none;
  }
}

main p {
  padding: 1em;
}

img {
  max-width: 640px;
  max-height: 480px;
}

div.container {
  max-width: 80%;

  div.page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

section.top_contributions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  div {
    margin: 1em;
    max-width: 25%;
    display: flex;
    flex-direction: column;

    p.upvotes {
      margin: 0em;
      padding-bottom: 0em;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    button {
      margin-top: 1em;
    }

    button#voted {
      background-color: #415A77;
      color: white;
    }

    p {
      margin-top: 0em;
    }
  }
  margin-bottom: 1em;
}

button#all_contributions {
  padding: 1em;
}

section.new_contribution {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.story_end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Example of how we can customize the layout for each entry

#entry_2 {
  display: flex;
  flex-direction: row-reverse;
}

#entry_3 {
  display: flex;
  flex-direction: row;
}

#entry_5 {
  display: flex;
  flex-direction: row-reverse;
}

#entry_6 {
  display: flex;
  flex-direction: row;
}

#entry_8 {
  display: flex;
  flex-direction: row-reverse;
}

#entry_9 {
  display: flex;
  flex-direction: row;
}

