section.contributions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;

  div {
    margin: 1em;
    width: 400px;
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      align-items: center;
      justify-content: center;
    }

    button {
      margin-top: 2em;
    }

    button#voted {
      background-color: green;
      color: white;
    }

  }
}

button#back {
  padding: 1em;
}
